.cta_mobile {
  color: #8058d2;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline;
  font-size: 32px;
  margin: 0px 20px 20px 20px;
  border-radius: 5px;
}

.cta_desktop {
  color: #8058d2;
  font-family: "Bebas Neue", sans-serif;
  text-decoration: underline;
  font-size: 32px;
  margin: 20px;
  border-radius: 5px;
}
.cosmology_night > a {
  justify-content: center;
  align-items: center;
}

.explore,
.cosmology {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
h1 {
  color: #8058d2;
  font-size: 2.2rem;
  margin: 1rem;
}

.explore p {
  margin: 20px;
}

.explore div {
  background-image: url(/SemesterProject1/images/astronaut_rezise.jpg);
  background-size: cover;
  width: 100%;
  height: 425px;
  position: relative;
}

.cosmology,
.night,
.biology_medicine,
.evolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.explore span {
  color: white;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  bottom: 100px;
  left: 30px;
}

.explore a {
  text-decoration: none;
  border-bottom: 6px solid #8058d2;
  color: white;
}

.cta_desktop {
  display: none;
}

.cosmology div {
  object-fit: cover;
  width: 300px;
  height: 416px;
  z-index: 1;
  max-width: 90vw;
}

.cosmology img {
  width: 100%;
  margin-top: -50px;
}

.cosmology p {
  margin: 20px;
}

.night img {
  width: 96%;
}

.night {
  position: relative;
}

.night h2 {
  position: absolute;
  color: white;
  font-size: 2rem;
}

.night p {
  display: none;
}

.night h2 {
  bottom: 15%;
}

.night_img2,
.img2,
.img3 {
  display: none;
}
.biology_medicine img {
  width: 96%;
}

.evolution img {
  width: 96%;
  margin-bottom: -5px;
}

.p_desktop {
  display: none;
}

/******MEDIA QUERY******/

@media only screen and (min-width: 768px) {
  .cosmology_night {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .cosmology,
  .night {
    flex: 1;
    margin: 10px;
  }

  .cta_desktop {
    display: block;
  }
  .cta_mobile {
    display: none;
  }

  .cosmology {
    width: 379px;
    height: 748px;
    margin: -40px 10px 40px 10px;
    z-index: 1;
  }

  .cosmology img {
    width: 100%;
    margin: 0 auto;
  }

  .cosmology h2 {
    margin-top: 70px;
  }

  .cosmology p {
    text-align: left;
  }

  .night div {
    display: flex;
    object-fit: cover;
    width: 379px;
    height: 698px;
    z-index: 1;
    max-width: 90vw;
  }

  .night_img1 {
    display: none;
  }
  .night_img2 {
    display: block;
  }

  .night img {
    width: 100%;
    margin-top: -50px;
  }

  .night h2 {
    color: #8058d2;
  }

  .night p {
    display: inline-block;
    width: 100%;
    text-align: left;
  }

  .night,
  .night div {
    position: relative;
  }
  .btn {
    margin-top: -60px;
    display: flex;
    justify-content: space-evenly;
  }

  .night h2,
  .night p {
    position: absolute;
    z-index: 1;
    color: white;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .night h2 {
    bottom: 30%;
    left: 50%;
    margin: 0 auto;
  }

  .night > a {
    position: absolute;
    bottom: 0%;
    z-index: 1;
    transform: translate(0%, -50%);
  }

  .night p {
    bottom: 20%;
    left: 50%;
    width: 70%;
  }

  /*Biology and medicine*/

  .biology_medicine {
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
  }
  .img1 {
    display: none;
  }
  .img2,
  .img3 {
    display: block;
    max-width: 50%;
  }

  .biology_medicine div,
  .biology_medicine a {
    display: flex;
  }

  /*Evolution*/

  .evolution {
    margin: 0 auto;
    border: 1px solid #707070;
    display: flex;
    flex-direction: row-reverse;
    max-width: 95%;
    margin-bottom: 30px;
  }
  .evolution img {
    margin-right: -5%;
  }

  .evolution > div {
    flex: 1;
  }

  .p_mobile {
    display: none;
  }

  .p_desktop {
    margin: 0 auto;
    display: block;
    width: 85%;
  }
}
