header,
footer {
  background-color: black;
  color: white;
}
header a {
  color: white;
}

.cta {
  background-color: red;
  border-radius: 4px 4px 4px 4px;
  color: white;
  font-size: 25px;
}

.cta-sale {
  background-color: green;
  border-radius: 4px 4px 4px 4px;
  color: white;
  font-size: 25px;
}

.reviews {
  background-color: rgb(202, 201, 201);
}

.products {
  background-color: rgb(230, 230, 230);
}

footer {
  text-align: center;
}
